button, .btn {
    background-color: #2A913E;
    color: white;
    padding: 2px 36px;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 2px;
    line-height: 22px;
    text-decoration: none;
}

